# Task 3
## Data Wrangling
* Use techniques to prepare dataset for analytics / modeling
* Tidy format
* Feature Engineering

In [1]:
import pandas as pd

## Read File

In [2]:
df = pd.read_csv('JO0104D3_20250411-135149.csv', encoding='ISO-8859-1', na_values=['..'])

df.head(20)

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,NaN,NaN,7.0,NaN,NaN,NaN,12.0,28.0,NaN,NaN,NaN,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
5,0114 Upplands Väsby,barley,500.0,586.0,264.0,213.0,328.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0114 Upplands Väsby,spring barley,NaN,NaN,NaN,NaN,NaN,NaN,114.0,127.0,135.0,135.0,188.0,158.0,93.0,159.0
7,0114 Upplands Väsby,oats,225.0,199.0,142.0,194.0,111.0,92.0,70.0,175.0,85.0,103.0,104.0,79.0,47.0,NaN
8,0114 Upplands Väsby,mixed grain and triticale,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0114 Upplands Väsby,ley for hay and forage plants,NaN,NaN,NaN,NaN,NaN,NaN,189.0,157.0,145.0,NaN,NaN,NaN,NaN,NaN
10,0114 Upplands Väsby,triticale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
11,0114 Upplands Väsby,mixed grain,7.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
12,0114 Upplands Väsby,"field peas for cooking, fodder peas, vetches a...",NaN,11.0,22.0,38.0,4.0,NaN,NaN,NaN,NaN,67.0,29.0,61.0,70.0,NaN
13,0114 Upplands Väsby,green peas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0114 Upplands Väsby,white beans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0114 Upplands Väsby,green fodder,43.0,63.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0114 Upplands Väsby,utilized ley for hay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0114 Upplands Väsby,utilized pasture,NaN,NaN,NaN,NaN,NaN,NaN,172.0,162.0,131.0,NaN,NaN,NaN,NaN,NaN
18,0114 Upplands Väsby,utilized ley for hay and pasture,229.0,201.0,275.0,213.0,217.0,361.0,NaN,NaN,NaN,256.0,297.0,323.0,256.0,402.0
19,0114 Upplands Väsby,not utilized ley for hay and pasture,32.0,11.0,NaN,11.0,5.0,17.0,38.0,34.0,19.0,8.0,NaN,NaN,NaN,NaN

## Clean data from NaN values

In [3]:
df.fillna(0, inplace=True)

if df.isna().any(axis=None):
    print('Df contains NaN values')

df.head(20)

print(df.columns)

Index(['region', 'crop', '1981', '1985', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1999', '2001', '2002', '2003', '2005'],
      dtype='object')

## Reformat to prepare for pivot

In its current format its quite wide, with the year columns, so we want to create one column called "year" holding the values of current columns 1981, 1985 etc.
This can be accomplished using melt, this allows for easier grouping by year.

In [4]:
year_columns = ['1981', '1985', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1999', '2001', '2002', '2003', '2005']

# Melt the DataFrame
df_long = df.melt(id_vars=['region', 'crop'], value_vars=year_columns, var_name='year', value_name='value')

df_long['year'] = df_long['year'].astype(int)

df_long.head()

                region               crop  year   value
0  0114 Upplands Väsby  total arable land  1981  1715.0
1  0114 Upplands Väsby       winter wheat  1981    80.0
2  0114 Upplands Väsby       spring wheat  1981   212.0
3  0114 Upplands Väsby                rye  1981     0.0
4  0114 Upplands Väsby      winter barley  1981     0.0

## Pivot

By now pivoting on the crop, we follow the principle in Data Science that each row should be an observation and each column should be a variable.

In [5]:

pivoted_df = df_long.pivot(index=['region', 'year'], columns='crop', values='value')

#print(len(pivoted_df.columns))
#print(len(pivoted_df))

pivoted_df.head(20)

crop                      barley  energy forest  fallow land  \
region              year
0114 Upplands Väsby 1981   500.0            0.0        179.0
                    1985   586.0            0.0         30.0
                    1989   264.0            0.0        124.0
                    1990   213.0            0.0         57.0
                    1991   328.0            0.0         91.0
                    1992   106.0            0.0         22.0
                    1993     0.0            0.0          7.0
                    1994     0.0            0.0         28.0
                    1995     0.0            0.0        444.0
                    1999     0.0            0.0        211.0
                    2001     0.0            0.0        150.0
                    2002     0.0            0.0        190.0
                    2003     0.0            0.0        171.0
                    2005     0.0            0.0        208.0
0115 Vallentuna     1981  2270.0            0.0        651.0
                    1985  2190.0            0.0        424.0
                    1989  1234.0            0.0        833.0
                    1990  1251.0            0.0        725.0
                    1991  1358.0            0.0        460.0
                    1992  1160.0            0.0        241.0

crop                      field peas for cooking, fodder peas, vetches and field beans  \
region              year
0114 Upplands Väsby 1981                                                0.0
                    1985                                               11.0
                    1989                                               22.0
                    1990                                               38.0
                    1991                                                4.0
                    1992                                                0.0
                    1993                                                0.0
                    1994                                                0.0
                    1995                                                0.0
                    1999                                               67.0
                    2001                                               29.0
                    2002                                               61.0
                    2003                                               70.0
                    2005                                                0.0
0115 Vallentuna     1981                                              106.0
                    1985                                              153.0
                    1989                                              127.0
                    1990                                              146.0
                    1991                                               68.0
                    1992                                               46.0

crop                      green fodder  green peas  horticulture plants  \
region              year
0114 Upplands Väsby 1981          43.0         0.0                  0.0
                    1985          63.0         0.0                  0.0
                    1989           0.0         0.0                  0.0
                    1990           2.0         0.0                  0.0
                    1991           0.0         0.0                  0.0
                    1992           0.0         0.0                  0.0
                    1993           0.0         0.0                  0.0
                    1994           0.0         0.0                  0.0
                    1995           0.0         0.0                  0.0
                    1999           0.0         0.0                 12.0
                    2001           0.0         0.0                  0.0
                    2002           0.0         0.0                  0.0
                    2003           0.0         0.0                  0.0
                    2005           0.0         0.0                  0.0
0115 Vallentuna     1981          48.0         0.0                  0.0
                    1985          52.0         0.0                  0.0
                    1989          19.0         0.0                  0.0
                    1990          54.0         0.0                  0.0
                    1991         113.0         0.0                  0.0
                    1992           0.0         0.0                  0.0

crop                      ley for hay and forage plants  ley for seeds  \
region              year
0114 Upplands Väsby 1981                            0.0            0.0
                    1985                            0.0            0.0
                    1989                            0.0            0.0
                    1990                            0.0            0.0
                    1991                            0.0            2.0
                    1992                            0.0            0.0
                    1993                          189.0            0.0
                    1994                          157.0            0.0
                    1995                          145.0            0.0
                    1999                            0.0            0.0
                    2001                            0.0            0.0
                    2002                            0.0            0.0
                    2003                            0.0            0.0
                    2005                            0.0            0.0
0115 Vallentuna     1981                            0.0            0.0
                    1985                            0.0            0.0
                    1989                            0.0           10.0
                    1990                            0.0            0.0
                    1991                            0.0            0.0
                    1992                            0.0            0.0

crop                      mixed grain  ...  triticale  \
region              year               ...
0114 Upplands Väsby 1981          7.0  ...        0.0
                    1985         13.0  ...        0.0
                    1989          0.0  ...        0.0
                    1990          0.0  ...        0.0
                    1991          0.0  ...        0.0
                    1992          0.0  ...        0.0
                    1993          0.0  ...        0.0
                    1994          0.0  ...        0.0
                    1995          0.0  ...        0.0
                    1999         12.0  ...        3.0
                    2001          0.0  ...        0.0
                    2002          0.0  ...        0.0
                    2003          0.0  ...        0.0
                    2005          0.0  ...        0.0
0115 Vallentuna     1981        405.0  ...        0.0
                    1985        140.0  ...        0.0
                    1989         16.0  ...        0.0
                    1990          0.0  ...        0.0
                    1991          0.0  ...        0.0
                    1992          0.0  ...        0.0

crop                      unspecified arable land  utilized ley for hay  \
region              year
0114 Upplands Väsby 1981                      0.0                   0.0
                    1985                      0.0                   0.0
                    1989                      0.0                   0.0
                    1990                      0.0                   0.0
                    1991                      0.0                   0.0
                    1992                      0.0                   0.0
                    1993                      0.0                   0.0
                    1994                      0.0                   0.0
                    1995                      0.0                   0.0
                    1999                      0.0                   0.0
                    2001                     38.0                   0.0
                    2002                     36.0                   0.0
                    2003                     23.0                   0.0
                    2005                      0.0                   0.0
0115 Vallentuna     1981                      0.0                   0.0
                    1985                      0.0                   0.0
                    1989                      0.0                   0.0
                    1990                      0.0                   0.0
                    1991                      0.0                   0.0
                    1992                      0.0                   0.0

crop                      utilized ley for hay and pasture  utilized pasture  \
region              year
0114 Upplands Väsby 1981                             229.0               0.0
                    1985                             201.0               0.0
                    1989                             275.0               0.0
                    1990                             213.0               0.0
                    1991                             217.0               0.0
                    1992                             361.0               0.0
                    1993                               0.0             172.0
                    1994                               0.0             162.0
                    1995                               0.0             131.0
                    1999                             256.0               0.0
                    2001                             297.0               0.0
                    2002                             323.0               0.0
                    2003                             256.0               0.0
                    2005                             402.0               0.0
0115 Vallentuna     1981                            1771.0               0.0
                    1985                            1556.0               0.0
                    1989                            1940.0               0.0
                    1990                            2199.0               0.0
                    1991                            2111.0               0.0
                    1992                            2699.0               0.0

crop                      white beans  winter barley  winter rape  \
region              year
0114 Upplands Väsby 1981          0.0            0.0          0.0
                    1985          0.0            0.0          0.0
                    1989          0.0            0.0          0.0
                    1990          0.0            0.0          0.0
                    1991          0.0            0.0          0.0
                    1992          0.0            0.0          0.0
                    1993          0.0            6.0          0.0
                    1994          0.0            6.0          0.0
                    1995          0.0            0.0          4.0
                    1999          0.0            0.0          0.0
                    2001          0.0            0.0          0.0
                    2002          0.0            0.0          0.0
                    2003          0.0            0.0          0.0
                    2005          0.0            0.0          0.0
0115 Vallentuna     1981          0.0            0.0          3.0
                    1985          0.0            0.0         24.0
                    1989          0.0            0.0         35.0
                    1990          0.0            0.0          7.0
                    1991          0.0            0.0         39.0
                    1992          0.0            0.0         16.0

crop                      winter turnip rape  winter wheat
region              year
0114 Upplands Väsby 1981                 0.0          80.0
                    1985                 0.0          40.0
                    1989                14.0         477.0
                    1990                 2.0         520.0
                    1991                 6.0         180.0
                    1992                 0.0         213.0
                    1993                 0.0         195.0
                    1994                 0.0         194.0
                    1995                 0.0         230.0
                    1999                 0.0         291.0
                    2001                 0.0         393.0
                    2002                 0.0         330.0
                    2003                 0.0         433.0
                    2005                 0.0         408.0
0115 Vallentuna     1981                25.0         462.0
                    1985                63.0         477.0
                    1989               188.0        1352.0
                    1990               149.0        1601.0
                    1991               111.0         766.0
                    1992                38.0        1026.0

[20 rows x 35 columns]

## Flatten df

Flatten the DF for easier handling, now its easy to access each row.

In [6]:
pivoted_df.columns.name = None
pivoted_df.reset_index(inplace=True)

pd.set_option("display.max_columns", None)

pivoted_df

,region,year,barley,energy forest,fallow land,"field peas for cooking, fodder peas, vetches and field beans",green fodder,green peas,horticulture plants,ley for hay and forage plants,ley for seeds,mixed grain,mixed grain and triticale,not utilized ley for hay and pasture,oats,oil flax,other crops,other untilled arable land,potatoes for processing of starch,rye,spring barley,spring rape,spring turnip rape,spring wheat,sugar beets,table potatoes,total arable land,triticale,unspecified arable land,utilized ley for hay,utilized ley for hay and pasture,utilized pasture,white beans,winter barley,winter rape,winter turnip rape,winter wheat
0,0114 Upplands Väsby,1981,500.0,0.0,179.0,0.0,43.0,0.0,0.0,0.0,0.0,7.0,0.0,32.0,225.0,0.0,6.0,24.0,0.0,0.0,0.0,95.0,81.0,212.0,0.0,2.0,1715.0,0.0,0.0,0.0,229.0,0.0,0.0,0.0,0.0,0.0,80.0
1,0114 Upplands Väsby,1985,586.0,0.0,30.0,11.0,63.0,0.0,0.0,0.0,0.0,13.0,0.0,11.0,199.0,0.0,4.0,38.0,0.0,5.0,0.0,71.0,169.0,208.0,0.0,3.0,1652.0,0.0,0.0,0.0,201.0,0.0,0.0,0.0,0.0,0.0,40.0
2,0114 Upplands Väsby,1989,264.0,0.0,124.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,142.0,0.0,3.0,32.0,0.0,82.0,0.0,72.0,105.0,0.0,0.0,2.0,1614.0,0.0,0.0,0.0,275.0,0.0,0.0,0.0,0.0,14.0,477.0
3,0114 Upplands Väsby,1990,213.0,0.0,57.0,38.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0,11.0,194.0,0.0,3.0,15.0,0.0,72.0,0.0,72.0,57.0,0.0,0.0,2.0,1478.0,0.0,0.0,0.0,213.0,0.0,0.0,0.0,0.0,2.0,520.0
4,0114 Upplands Väsby,1991,328.0,0.0,91.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,111.0,0.0,5.0,331.0,0.0,26.0,0.0,24.0,81.0,7.0,0.0,1.0,1419.0,0.0,0.0,0.0,217.0,0.0,0.0,0.0,0.0,6.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4055,2584 Kiruna,1999,0.0,0.0,17.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,384.0,0.0,0.0,0.0,272.0,0.0,0.0,0.0,0.0,0.0,0.0
4056,2584 Kiruna,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,261.0,0.0,109.0,0.0,151.0,0.0,0.0,0.0,0.0,0.0,0.0
4057,2584 Kiruna,2002,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.0,0.0,90.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0
4058,2584 Kiruna,2003,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,233.0,0.0,69.0,0.0,143.0,0.0,0.0,0.0,0.0,0.0,0.0
4059,2584 Kiruna,2005,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,253.0,0.0,51.0,0.0,195.0,0.0,0.0,0.0,0.0,0.0,0.0

## Feature Engineering

### Cross-region Comparison

Lets do a cross-region comparison, crop area in a given region vs the national average.

In [7]:
# keep it to just oats and barley for now
crop_cols = ["oats", "barley"]

for crop in crop_cols:
    national_avg = pivoted_df.groupby('year')[crop].sum()

    pivoted_df[f'{crop}_rel_perf'] = pivoted_df.apply(
        lambda row: row[crop] / national_avg[row['year']] if pd.notna(row[crop]) and pd.notna(national_avg[row['year']]) and national_avg[row['year']] != 0 else 0,
        axis=1
    )

pivoted_df[[f"{crop}_rel_perf" for crop in crop_cols]]

      oats_rel_perf  barley_rel_perf
0          0.000443         0.000686
1          0.000419         0.000825
2          0.000328         0.000527
3          0.000500         0.000433
4          0.000305         0.000668
...             ...              ...
4055       0.000000         0.000000
4056       0.000000         0.000000
4057       0.000000         0.000000
4058       0.000021         0.000000
4059       0.000000         0.000000

[4060 rows x 2 columns]

### Crop Diversity

How about crop diversity? Maybe some regions produce a whole plethora of crops, while some other regions only produce one or two crops.

In [8]:
# ignore columns that are not crops
ignore_columns = ['region', 'year', 'crop_diversity_index'] + ['total arable land', 'other untilled arable land', 'unspecified arable land', 'not utilized ley for hay and pasture'] + [f"{crop}_rel_perf" for crop in crop_cols]

pivoted_df['crop_diversity_index'] = pivoted_df.apply(
    lambda row: (row[[col for col in pivoted_df.columns if col not in ignore_columns]] > 0).sum(),
    axis=1
)

pivoted_df[['year', 'region', 'crop_diversity_index']]

      year               region  crop_diversity_index
0     1981  0114 Upplands Väsby                    12
1     1985  0114 Upplands Väsby                    14
2     1989  0114 Upplands Väsby                    12
3     1990  0114 Upplands Väsby                    14
4     1991  0114 Upplands Väsby                    14
...    ...                  ...                   ...
4055  1999          2584 Kiruna                     4
4056  2001          2584 Kiruna                     1
4057  2002          2584 Kiruna                     2
4058  2003          2584 Kiruna                     4
4059  2005          2584 Kiruna                     2

[4060 rows x 3 columns]