# Task 1: Loading, Exploring, Cleaning
* Explore the data, simple exploration techniques, statistics etc...
* Clean: Look for inconsistencies, NaN values, etc...

Imports:

In [1]:
import pandas as pd

# 1.1 Load the dataset

Load the dataset:

In [2]:
df = pd.read_csv("JO0104D3_20250411-135149.csv", encoding="latin-1", na_values=['..'])
df

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,NaN,NaN,7.0,NaN,NaN,NaN,12.0,28.0,NaN,NaN,NaN,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,NaN,NaN,10.0,10.0,10.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.0,30.0,38.0,26.0,17.0,NaN,5.0,15.0,5.0
10148,2584 Kiruna,other untilled arable land,NaN,13.0,6.0,NaN,13.0,7.0,11.0,2.0,9.0,41.0,NaN,NaN,NaN,NaN
10149,2584 Kiruna,unspecified arable land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,90.0,69.0,51.0

# 1.2 Explore the data

### Information and Statstics

Information about the dataframe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10150 entries, 0 to 10149
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  10150 non-null  object
 1   crop    10150 non-null  object
 2   1981    4723 non-null   float64
 3   1985    4781 non-null   float64
 4   1989    4754 non-null   float64
 5   1990    4743 non-null   float64
 6   1991    4664 non-null   float64
 7   1992    4641 non-null   float64
 8   1993    5028 non-null   float64
 9   1994    4981 non-null   float64
 10  1995    4944 non-null   float64
 11  1999    5385 non-null   float64
 12  2001    5078 non-null   float64
 13  2002    5250 non-null   float64
 14  2003    5231 non-null   float64
 15  2005    4265 non-null   float64
dtypes: float64(14), object(2)
memory usage: 1.2+ MB

Statistics of the dataframe

In [4]:
df.describe()

,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
count,4723.000000,4781.000000,4754.000000,4743.000000,4664.000000,4641.000000,5028.000000,4981.000000,4944.000000,5385.000000,5078.000000,5250.000000,5231.000000,4265.000000
mean,1244.241795,1222.154988,1202.459613,1199.490196,1196.409520,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
std,4001.326449,3914.180577,3833.527379,3836.641655,3792.837971,3766.881117,3575.968579,3600.884641,3574.473723,3480.749435,3544.942257,3476.480074,3459.476713,3832.377085
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,22.000000,25.000000,25.000000,28.000000,26.000000,25.000000,23.000000,25.000000,19.000000,17.000000,15.000000,15.000000,33.000000
50%,95.000000,101.000000,117.000000,113.000000,134.000000,127.000000,121.000000,125.000000,123.500000,87.000000,91.000000,82.000000,81.000000,141.000000
75%,568.000000,591.000000,639.500000,614.500000,633.250000,607.000000,666.000000,675.000000,695.750000,439.000000,487.750000,446.750000,449.500000,715.000000
max,83379.000000,83475.000000,83314.000000,83695.000000,83918.000000,84151.000000,84345.000000,84577.000000,86679.000000,86496.000000,86060.000000,86140.000000,85970.000000,86730.000000

### Regions

In [5]:
df['region'].unique()

array(['0114 Upplands Väsby', '0115 Vallentuna', '0117 Österåker',
       '0120 Värmdö', '0123 Järfälla', '0125 Ekerö', '0126 Huddinge',
       '0127 Botkyrka', '0128 Salem', '0136 Haninge', '0138 Tyresö',
       '0139 Upplands-Bro', '0140 Nykvarn', '0160 Täby', '0162 Danderyd',
       '0163 Sollentuna', '0180 Stockholm', '0181 Södertälje',
       '0182 Nacka', '0183 Sundbyberg', '0184 Solna', '0186 Lidingö',
       '0187 Vaxholm', '0188 Norrtälje', '0191 Sigtuna', '0192 Nynäshamn',
       '0305 Håbo', '0319 Älvkarleby', '0330 Knivsta', '0331 Heby',
       '0360 Tierp', '0380 Uppsala', '0381 Enköping', '0382 Östhammar',
       '0428 Vingåker', '0461 Gnesta', '0480 Nyköping', '0481 Oxelösund',
       '0482 Flen', '0483 Katrineholm', '0484 Eskilstuna',
       '0486 Strängnäs', '0488 Trosa', '0509 Ödeshög', '0512 Ydre',
       '0513 Kinda', '0560 Boxholm', '0561 Åtvidaberg', '0562 Finspång',
       '0563 Valdemarsvik', '0580 Linköping', '0581 Norrköping',
       '0582 Söderköping', '0583 Motala', '0584 Vadstena', '0586 Mjölby',
       '0604 Aneby', '0617 Gnosjö', '0642 Mullsjö', '0643 Habo',
       '0662 Gislaved', '0665 Vaggeryd', '0680 Jönköping', '0682 Nässjö',
       '0683 Värnamo', '0684 Sävsjö', '0685 Vetlanda', '0686 Eksjö',
       '0687 Tranås', '0760 Uppvidinge', '0761 Lessebo', '0763 Tingsryd',
       '0764 Alvesta', '0765 Älmhult', '0767 Markaryd', '0780 Växjö',
       '0781 Ljungby', '0821 Högsby', '0834 Torsås', '0840 Mörbylånga',
       '0860 Hultsfred', '0861 Mönsterås', '0862 Emmaboda', '0880 Kalmar',
       '0881 Nybro', '0882 Oskarshamn', '0883 Västervik', '0884 Vimmerby',
       '0885 Borgholm', '0980 Gotland', '1060 Olofström',
       '1080 Karlskrona', '1081 Ronneby', '1082 Karlshamn',
       '1083 Sölvesborg', '1214 Svalöv', '1230 Staffanstorp',
       '1231 Burlöv', '1233 Vellinge', '1256 Östra Göinge',
       '1257 Örkelljunga', '1260 Bjuv', '1261 Kävlinge', '1262 Lomma',
       '1263 Svedala', '1264 Skurup', '1265 Sjöbo', '1266 Hörby',
       '1267 Höör', '1270 Tomelilla', '1272 Bromölla', '1273 Osby',
       '1275 Perstorp', '1276 Klippan', '1277 Åstorp', '1278 Båstad',
       '1280 Malmö', '1281 Lund', '1282 Landskrona', '1283 Helsingborg',
       '1284 Höganäs', '1285 Eslöv', '1286 Ystad', '1287 Trelleborg',
       '1290 Kristianstad', '1291 Simrishamn', '1292 Ängelholm',
       '1293 Hässleholm', '1315 Hylte', '1380 Halmstad', '1381 Laholm',
       '1382 Falkenberg', '1383 Varberg', '1384 Kungsbacka',
       '1401 Härryda', '1402 Partille', '1407 Öckerö', '1415 Stenungsund',
       '1419 Tjörn', '1421 Orust', '1427 Sotenäs', '1430 Munkedal',
       '1435 Tanum', '1438 Dals-Ed', '1439 Färgelanda', '1440 Ale',
       '1441 Lerum', '1442 Vårgårda', '1443 Bollebygd', '1444 Grästorp',
       '1445 Essunga', '1446 Karlsborg', '1447 Gullspång', '1452 Tranemo',
       '1460 Bengtsfors', '1461 Mellerud', '1462 Lilla Edet', '1463 Mark',
       '1465 Svenljunga', '1466 Herrljunga', '1470 Vara', '1471 Götene',
       '1472 Tibro', '1473 Töreboda', '1480 Göteborg', '1481 Mölndal',
       '1482 Kungälv', '1484 Lysekil', '1485 Uddevalla', '1486 Strömstad',
       '1487 Vänersborg', '1488 Trollhättan', '1489 Alingsås',
       '1490 Borås', '1491 Ulricehamn', '1492 Åmål', '1493 Mariestad',
       '1494 Lidköping', '1495 Skara', '1496 Skövde', '1497 Hjo',
       '1498 Tidaholm', '1499 Falköping', '1715 Kil', '1730 Eda',
       '1737 Torsby', '1760 Storfors', '1761 Hammarö', '1762 Munkfors',
       '1763 Forshaga', '1764 Grums', '1765 Årjäng', '1766 Sunne',
       '1780 Karlstad', '1781 Kristinehamn', '1782 Filipstad',
       '1783 Hagfors', '1784 Arvika', '1785 Säffle', '1814 Lekeberg',
       '1860 Laxå', '1861 Hallsberg', '1862 Degerfors', '1863 Hällefors',
       '1864 Ljusnarsberg', '1880 Örebro', '1881 Kumla', '1882 Askersund',
       '1883 Karlskoga', '1884 Nora', '1885 Lindesberg',
       '1904 Skinnskatteberg', '1907 Surahammar', '1960 Kungsör',
       '1961 Hallstahammar', '1962 Norberg', '1980 Västerås', '1981 Sala',
       '1982 Fagersta', '1983 Köping', '1984 Arboga', '2021 Vansbro',
       '2023 Malung-Sälen', '2026 Gagnef', '2029 Leksand', '2031 Rättvik',
       '2034 Orsa', '2039 Älvdalen', '2061 Smedjebacken', '2062 Mora',
       '2080 Falun', '2081 Borlänge', '2082 Säter', '2083 Hedemora',
       '2084 Avesta', '2085 Ludvika', '2101 Ockelbo', '2104 Hofors',
       '2121 Ovanåker', '2132 Nordanstig', '2161 Ljusdal', '2180 Gävle',
       '2181 Sandviken', '2182 Söderhamn', '2183 Bollnäs',
       '2184 Hudiksvall', '2260 Ånge', '2262 Timrå', '2280 Härnösand',
       '2281 Sundsvall', '2282 Kramfors', '2283 Sollefteå',
       '2284 Örnsköldsvik', '2303 Ragunda', '2305 Bräcke', '2309 Krokom',
       '2313 Strömsund', '2321 Åre', '2326 Berg', '2361 Härjedalen',
       '2380 Östersund', '2401 Nordmaling', '2403 Bjurholm',
       '2404 Vindeln', '2409 Robertsfors', '2417 Norsjö', '2418 Malå',
       '2421 Storuman', '2422 Sorsele', '2425 Dorotea', '2460 Vännäs',
       '2462 Vilhelmina', '2463 Åsele', '2480 Umeå', '2481 Lycksele',
       '2482 Skellefteå', '2505 Arvidsjaur', '2506 Arjeplog',
       '2510 Jokkmokk', '2513 Överkalix', '2514 Kalix', '2518 Övertorneå',
       '2521 Pajala', '2523 Gällivare', '2560 Älvsbyn', '2580 Luleå',
       '2581 Piteå', '2582 Boden', '2583 Haparanda', '2584 Kiruna'],
      dtype=object)

### Crops

In [6]:
df['crop'].unique()

array(['total arable land', 'winter wheat', 'spring wheat', 'rye',
       'winter barley', 'barley', 'spring barley', 'oats',
       'mixed grain and triticale', 'ley for hay and forage plants',
       'triticale', 'mixed grain',
       'field peas for cooking, fodder peas, vetches and field beans',
       'green peas', 'white beans', 'green fodder',
       'utilized ley for hay', 'utilized pasture',
       'utilized ley for hay and pasture',
       'not utilized ley for hay and pasture', 'ley for seeds',
       'table potatoes', 'potatoes for processing of starch',
       'sugar beets', 'winter rape', 'spring rape', 'winter turnip rape',
       'spring turnip rape', 'oil flax', 'horticulture plants',
       'other crops', 'energy forest', 'fallow land',
       'other untilled arable land', 'unspecified arable land'],
      dtype=object)

### 1.3 Find inconcistencies

Null values very frequent

In [7]:
df.isnull().sum()

region       0
crop         0
1981      5427
1985      5369
1989      5396
1990      5407
1991      5486
1992      5509
1993      5122
1994      5169
1995      5206
1999      4765
2001      5072
2002      4900
2003      4919
2005      5885
dtype: int64

No duplicated rows

In [8]:
df.duplicated().sum()

np.int64(0)

## Solve for inconcistencies

### Approach 1: Interpolation

In [9]:
df_approach_1 = df.copy()

Interpolate missing values at each row (since the time series is column wise)

In [10]:
year_cols = df_approach_1.columns[2:]
df_approach_1[year_cols] = df_approach_1[year_cols].interpolate(method='linear', axis=1)
df_approach_1

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.00,1288.0,1434.00,1398.0,1380.0,1310.00,1286.0,1281.00,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.00,195.0,194.00,230.0,291.0,393.00,330.0,433.00,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,141.0,74.0,7.0,8.25,9.5,10.75,12.0,28.0,22.75,17.5,12.25,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,26.00,26.0,26.00,26.0,26.0,26.00,26.0,26.00,26.0
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.00,6.0,6.0,6.00,6.0,6.00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,NaN,NaN,10.0,10.0,10.0,8.00,6.0,4.00,2.0,2.0,2.00,2.0,2.00,2.0
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.00,30.0,38.00,26.0,17.0,11.00,5.0,15.00,5.0
10148,2584 Kiruna,other untilled arable land,NaN,13.0,6.0,9.5,13.0,7.00,11.0,2.00,9.0,41.0,41.00,41.0,41.00,41.0
10149,2584 Kiruna,unspecified arable land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.00,90.0,69.00,51.0

Before vs after

In [11]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_1.isnull().sum()], axis=1, keys=["Before", "After"])
comparison_df

        Before  After
region       0      0
crop         0      0
1981      5427   5427
1985      5369   5138
1989      5396   5046
1990      5407   4746
1991      5486   4726
1992      5509   4656
1993      5122   3437
1994      5169   3402
1995      5206   3351
1999      4765   2684
2001      5072   2282
2002      4900   2247
2003      4919   2201
2005      5885   2198

Continue filling because interpolation is not a mr solve it all

In [12]:
df_approach_1_last = df_approach_1.copy()
df_approach_1_last[year_cols] = df_approach_1_last[year_cols].bfill(axis=1).ffill(axis=1)
df_approach_1_last

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.00,1288.0,1434.00,1398.0,1380.0,1310.00,1286.0,1281.00,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.00,195.0,194.00,230.0,291.0,393.00,330.0,433.00,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,141.0,74.0,7.0,8.25,9.5,10.75,12.0,28.0,22.75,17.5,12.25,7.0
3,0114 Upplands Väsby,rye,5.0,5.0,82.0,72.0,26.0,26.00,26.0,26.00,26.0,26.0,26.00,26.0,26.00,26.0
4,0114 Upplands Väsby,winter barley,6.0,6.0,6.0,6.0,6.0,6.00,6.0,6.00,6.0,6.0,6.00,6.0,6.00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,10.0,10.0,10.0,10.0,10.0,8.00,6.0,4.00,2.0,2.0,2.00,2.0,2.00,2.0
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.00,30.0,38.00,26.0,17.0,11.00,5.0,15.00,5.0
10148,2584 Kiruna,other untilled arable land,13.0,13.0,6.0,9.5,13.0,7.00,11.0,2.00,9.0,41.0,41.00,41.0,41.00,41.0
10149,2584 Kiruna,unspecified arable land,109.0,109.0,109.0,109.0,109.0,109.00,109.0,109.00,109.0,109.0,109.00,90.0,69.00,51.0

Before vs after vs way-before

In [13]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_1.isnull().sum(), df_approach_1_last.isnull().sum()], axis=1, keys=["Way-Before", "Before", "After"])
comparison_df

        Way-Before  Before  After
region           0       0      0
crop             0       0      0
1981          5427    5427   2198
1985          5369    5138   2198
1989          5396    5046   2198
1990          5407    4746   2198
1991          5486    4726   2198
1992          5509    4656   2198
1993          5122    3437   2198
1994          5169    3402   2198
1995          5206    3351   2198
1999          4765    2684   2198
2001          5072    2282   2198
2002          4900    2247   2198
2003          4919    2201   2198
2005          5885    2198   2198

## Approach 2: Imputation

In [14]:
df_approach_2 = df.copy()

Fill with mean

In [15]:
df_approach_2[year_cols] = df_approach_2[year_cols].fillna(df_approach_2[year_cols].mean())
df_approach_2

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.000000,1652.000000,1614.000000,1478.000000,1419.00000,1311.000000,1288.000000,1434.000000,1398.000000,1380.000000,1310.000000,1286.000000,1281.000000,1353.000000
1,0114 Upplands Väsby,winter wheat,80.000000,40.000000,477.000000,520.000000,180.00000,213.000000,195.000000,194.000000,230.000000,291.000000,393.000000,330.000000,433.000000,408.000000
2,0114 Upplands Väsby,spring wheat,212.000000,208.000000,1202.459613,1199.490196,7.00000,1192.669899,1105.789777,1116.558924,12.000000,28.000000,1061.136077,1020.936762,1020.310075,7.000000
3,0114 Upplands Väsby,rye,1244.241795,5.000000,82.000000,72.000000,26.00000,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
4,0114 Upplands Väsby,winter barley,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,6.000000,6.000000,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,1244.241795,1222.154988,10.000000,10.000000,10.00000,1192.669899,1105.789777,1116.558924,2.000000,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
10146,2584 Kiruna,energy forest,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
10147,2584 Kiruna,fallow land,3.000000,18.000000,22.000000,16.000000,33.00000,22.000000,30.000000,38.000000,26.000000,17.000000,1061.136077,5.000000,15.000000,5.000000
10148,2584 Kiruna,other untilled arable land,1244.241795,13.000000,6.000000,1199.490196,13.00000,7.000000,11.000000,2.000000,9.000000,41.000000,1061.136077,1020.936762,1020.310075,1264.592966
10149,2584 Kiruna,unspecified arable land,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,109.000000,90.000000,69.000000,51.000000

Before vs after

In [16]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_2.isnull().sum()], axis=1, keys=["Before", "After"])
comparison_df

        Before  After
region       0      0
crop         0      0
1981      5427      0
1985      5369      0
1989      5396      0
1990      5407      0
1991      5486      0
1992      5509      0
1993      5122      0
1994      5169      0
1995      5206      0
1999      4765      0
2001      5072      0
2002      4900      0
2003      4919      0
2005      5885      0

## Approach 3: Zero values

For this dataset, replacing NaN values with zeros is a realistic approach. The absence of a recorded value likely indicates that the crop measurement was truly zero rather than an error.

In [17]:
df_approach_3 = df.copy()

Fill with zeroes

In [18]:
df_approach_3[year_cols] = df_approach_3[year_cols].fillna(0)
df_approach_3

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,0.0,0.0,7.0,0.0,0.0,0.0,12.0,28.0,0.0,0.0,0.0,7.0
3,0114 Upplands Väsby,rye,0.0,5.0,82.0,72.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0114 Upplands Väsby,winter barley,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,0.0,0.0,10.0,10.0,10.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
10146,2584 Kiruna,energy forest,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.0,30.0,38.0,26.0,17.0,0.0,5.0,15.0,5.0
10148,2584 Kiruna,other untilled arable land,0.0,13.0,6.0,0.0,13.0,7.0,11.0,2.0,9.0,41.0,0.0,0.0,0.0,0.0
10149,2584 Kiruna,unspecified arable land,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,90.0,69.0,51.0

Before vs after

In [19]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_3.isnull().sum()], axis=1, keys=["Before", "After"])
comparison_df

        Before  After
region       0      0
crop         0      0
1981      5427      0
1985      5369      0
1989      5396      0
1990      5407      0
1991      5486      0
1992      5509      0
1993      5122      0
1994      5169      0
1995      5206      0
1999      4765      0
2001      5072      0
2002      4900      0
2003      4919      0
2005      5885      0

### Statistics of the different approaches

Approach 1

In [20]:
df_approach_1.describe()

,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
count,4723.000000,5012.000000,5104.000000,5404.000000,5424.000000,5494.000000,6713.000000,6748.000000,6799.000000,7466.000000,7868.000000,7903.000000,7949.000000,7952.000000
mean,1244.241795,1166.333330,1120.685706,1061.264806,1036.844536,1015.302729,1056.163746,1049.078566,1035.116740,947.097329,891.549575,881.212252,873.358007,881.876383
std,4001.326449,3831.327753,3711.995721,3614.341560,3540.245983,3487.836191,3276.362016,3274.630847,3230.640945,3092.726616,2994.360207,2977.244401,2951.634773,2978.410710
min,1.000000,0.900000,0.800000,0.700000,0.600000,0.500000,0.400000,0.300000,0.200000,0.100000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,18.000000,17.000000,16.482143,16.000000,14.000000,17.000000,15.000000,15.000000,12.000000,11.000000,9.000000,8.000000,8.000000
50%,95.000000,89.000000,95.000000,88.000000,98.000000,85.000000,103.666667,101.000000,95.000000,77.000000,70.250000,62.000000,59.000000,59.000000
75%,568.000000,539.000000,549.250000,485.000000,472.750000,435.750000,656.000000,645.000000,640.000000,517.750000,454.000000,439.000000,432.000000,441.000000
max,83379.000000,83475.000000,83314.000000,83695.000000,83918.000000,84151.000000,84345.000000,84577.000000,86679.000000,86496.000000,86060.000000,86140.000000,85970.000000,86730.000000

Approach 2

In [21]:
df_approach_2.describe()

,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
count,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000
mean,1244.241795,1222.154988,1202.459613,1199.490196,1196.409520,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
std,2729.325608,2686.229905,2623.438273,2622.529525,2570.901109,2547.001954,2516.729331,2522.390102,2494.570532,2535.208374,2507.270095,2500.151952,2483.416885,2484.077874
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,116.250000,119.250000,141.000000,136.000000,171.000000,163.250000,125.250000,133.250000,135.000000,74.000000,91.000000,74.000000,74.000000,244.000000
50%,1244.241795,1222.154988,1202.459613,1199.490196,1196.409520,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
75%,1244.241795,1222.154988,1202.459613,1199.490196,1196.409520,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
max,83379.000000,83475.000000,83314.000000,83695.000000,83918.000000,84151.000000,84345.000000,84577.000000,86679.000000,86496.000000,86060.000000,86140.000000,85970.000000,86730.000000

Approach 3

In [22]:
df_approach_3.describe()

,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
count,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000,10150.000000
mean,578.970837,575.677143,563.201281,560.510542,549.759015,545.338030,547.774483,547.938916,545.011429,541.293300,530.881675,528.070739,525.836650,531.378227
std,2799.004950,2754.637960,2691.188392,2689.953760,2639.141809,2615.390682,2576.746627,2583.418579,2556.499849,2585.840524,2562.797966,2551.676616,2535.231211,2561.307405
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,1.000000,0.000000
75%,76.000000,87.000000,96.000000,93.000000,107.000000,97.000000,117.000000,118.000000,113.000000,102.000000,91.750000,91.000000,88.000000,84.000000
max,83379.000000,83475.000000,83314.000000,83695.000000,83918.000000,84151.000000,84345.000000,84577.000000,86679.000000,86496.000000,86060.000000,86140.000000,85970.000000,86730.000000

# Task 2

## Similar to Task 1, but emphasize the utilization of method chaining, pipes, and lambda functions

Imports:

In [1]:
import pandas as pd

## 2.1 Load the dataset

Load the dataset:

In [2]:
df = pd.read_csv("JO0104D3_20250411-135149.csv", encoding="latin-1", na_values=['..'])
df.head()

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,NaN,NaN,7.0,NaN,NaN,NaN,12.0,28.0,NaN,NaN,NaN,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN

## 2.2 Find top N crops per region per year, using pipes and lambda functions

We are curious as to which crops are the most produced for each region per year:

In [3]:
df_top_3 = df.copy()

# drop rows that are not really crops
df_top_3.query("crop != 'total arable land'", inplace=True)
df_top_3.query("crop != 'other untilled arable land'", inplace=True)
df_top_3.query("crop != 'unspecified arable land'", inplace=True)
df_top_3.query("crop != 'not utilized ley for hay and pasture'", inplace=True)

year_cols = df_top_3.columns[2:]

N_CROPS = 3

top_crops_per_year_region = (
    df_top_3.pipe(lambda x: x.groupby(['region', 'crop'])[year_cols].sum())
       .pipe(lambda x: x.reset_index())
       .pipe(lambda x: x.melt(id_vars=['region', 'crop'], var_name='year', value_name='land')) # take the year columns and convert them into rows instead, with a new colum 'land'
       .pipe(lambda x: x.sort_values(by=['region', 'year', 'land'], ascending=[True, True, False]))
       .pipe(lambda x: x.groupby(['region', 'year']).head(N_CROPS)) # for each combination of region and year, take top N crops
       .pipe(lambda x: x.reset_index())
       .pipe(lambda x: x.drop("index", axis=1)) # remove ugly column
)

N_REGIONS = 1
top_crops_per_year_region.head(N_CROPS * 14 * N_REGIONS) # there are 14 years in the dataset

                 region                              crop  year   land
0   0114 Upplands Väsby                            barley  1981  500.0
1   0114 Upplands Väsby  utilized ley for hay and pasture  1981  229.0
2   0114 Upplands Väsby                              oats  1981  225.0
3   0114 Upplands Väsby                            barley  1985  586.0
4   0114 Upplands Väsby                      spring wheat  1985  208.0
5   0114 Upplands Väsby  utilized ley for hay and pasture  1985  201.0
6   0114 Upplands Väsby                      winter wheat  1989  477.0
7   0114 Upplands Väsby  utilized ley for hay and pasture  1989  275.0
8   0114 Upplands Väsby                            barley  1989  264.0
9   0114 Upplands Väsby                      winter wheat  1990  520.0
10  0114 Upplands Väsby                            barley  1990  213.0
11  0114 Upplands Väsby  utilized ley for hay and pasture  1990  213.0
12  0114 Upplands Väsby                            barley  1991  328.0
13  0114 Upplands Väsby  utilized ley for hay and pasture  1991  217.0
14  0114 Upplands Väsby                      winter wheat  1991  180.0
15  0114 Upplands Väsby  utilized ley for hay and pasture  1992  361.0
16  0114 Upplands Väsby                      winter wheat  1992  213.0
17  0114 Upplands Väsby                            barley  1992  106.0
18  0114 Upplands Väsby                      winter wheat  1993  195.0
19  0114 Upplands Väsby     ley for hay and forage plants  1993  189.0
20  0114 Upplands Väsby                  utilized pasture  1993  172.0
21  0114 Upplands Väsby                      winter wheat  1994  194.0
22  0114 Upplands Väsby                              oats  1994  175.0
23  0114 Upplands Väsby                  utilized pasture  1994  162.0
24  0114 Upplands Väsby                       fallow land  1995  444.0
25  0114 Upplands Väsby                      winter wheat  1995  230.0
26  0114 Upplands Väsby     ley for hay and forage plants  1995  145.0
27  0114 Upplands Väsby                      winter wheat  1999  291.0
28  0114 Upplands Väsby  utilized ley for hay and pasture  1999  256.0
29  0114 Upplands Väsby                       fallow land  1999  211.0
30  0114 Upplands Väsby                      winter wheat  2001  393.0
31  0114 Upplands Väsby  utilized ley for hay and pasture  2001  297.0
32  0114 Upplands Väsby                     spring barley  2001  188.0
33  0114 Upplands Väsby                      winter wheat  2002  330.0
34  0114 Upplands Väsby  utilized ley for hay and pasture  2002  323.0
35  0114 Upplands Väsby                       fallow land  2002  190.0
36  0114 Upplands Väsby                      winter wheat  2003  433.0
37  0114 Upplands Väsby  utilized ley for hay and pasture  2003  256.0
38  0114 Upplands Väsby                       fallow land  2003  171.0
39  0114 Upplands Väsby                      winter wheat  2005  408.0
40  0114 Upplands Väsby  utilized ley for hay and pasture  2005  402.0
41  0114 Upplands Väsby                       fallow land  2005  208.0

## 2.3 Filling missing values using different methods

### Approach 1: Interpolation

Interpolate missing values at each row (since the time series is column wise)

In [4]:
df_approach_1 = df.copy()
df_approach_1[year_cols] = df_approach_1[year_cols].interpolate(method='linear', axis=1)

#### Approach 1.1: Interpolation with filling

Interpolation may not fill all NaN values, so complement with backward and forward fill

In [5]:
df_approach_1_last = df_approach_1.copy()

# backward fill and then forward fill, to complement the initial interpolation
df_approach_1_last[year_cols] = df_approach_1_last[year_cols].bfill(axis=1).ffill(axis=1)

### Approach 2: Imputation with Mean

Fill NaN values with the mean value

In [6]:
df_approach_2 = df.copy()
df_approach_2[year_cols] = df_approach_2[year_cols].fillna(df_approach_2[year_cols].mean())

### Approach 3: Fill with Zeroes

For this dataset, replacing NaN values with zeros is a realistic approach. The absence of a recorded value likely indicates that the crop measurement was truly zero rather than an error.

In [7]:
df_approach_3 = df.copy()
df_approach_3[year_cols] = df_approach_3[year_cols].fillna(0)

## 2.4 Comparison summary after testing various approaches, using method chaining

Lets see how the different methods affected the number of NaN values. Method chaining helps a lot with readability.

In [8]:
comparison_summary = pd.concat([
    df.isnull().sum().rename('Original').to_frame(),
    df_approach_1.isnull().sum().rename('Interpolation').to_frame(),
    df_approach_1_last.isnull().sum().rename('Interpolation filling').to_frame(),
    df_approach_2.isnull().sum().rename('Mean Imputation').to_frame(),
    df_approach_3.isnull().sum().rename('Filling with Zeros').to_frame(),
], axis=1)

comparison_summary

,Original,Interpolation,Interpolation filling,Mean Imputation,Filling with Zeros
region,0,0,0,0,0
crop,0,0,0,0,0
1981,5427,5427,2198,0,0
1985,5369,5138,2198,0,0
1989,5396,5046,2198,0,0
1990,5407,4746,2198,0,0
1991,5486,4726,2198,0,0
1992,5509,4656,2198,0,0
1993,5122,3437,2198,0,0
1994,5169,3402,2198,0,0
1995,5206,3351,2198,0,0
1999,4765,2684,2198,0,0
2001,5072,2282,2198,0,0
2002,4900,2247,2198,0,0
2003,4919,2201,2198,0,0
2005,5885,2198,2198,0,0

# Task 3
## Data Wrangling
* Use techniques to prepare dataset for analytics / modeling
* Tidy format
* Feature Engineering

In [1]:
import pandas as pd

## Read File

In [2]:
df = pd.read_csv('JO0104D3_20250411-135149.csv', encoding='ISO-8859-1', na_values=['..'])

df.head(20)

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,NaN,NaN,7.0,NaN,NaN,NaN,12.0,28.0,NaN,NaN,NaN,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
5,0114 Upplands Väsby,barley,500.0,586.0,264.0,213.0,328.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0114 Upplands Väsby,spring barley,NaN,NaN,NaN,NaN,NaN,NaN,114.0,127.0,135.0,135.0,188.0,158.0,93.0,159.0
7,0114 Upplands Väsby,oats,225.0,199.0,142.0,194.0,111.0,92.0,70.0,175.0,85.0,103.0,104.0,79.0,47.0,NaN
8,0114 Upplands Väsby,mixed grain and triticale,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0114 Upplands Väsby,ley for hay and forage plants,NaN,NaN,NaN,NaN,NaN,NaN,189.0,157.0,145.0,NaN,NaN,NaN,NaN,NaN
10,0114 Upplands Väsby,triticale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
11,0114 Upplands Väsby,mixed grain,7.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
12,0114 Upplands Väsby,"field peas for cooking, fodder peas, vetches a...",NaN,11.0,22.0,38.0,4.0,NaN,NaN,NaN,NaN,67.0,29.0,61.0,70.0,NaN
13,0114 Upplands Väsby,green peas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0114 Upplands Väsby,white beans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0114 Upplands Väsby,green fodder,43.0,63.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0114 Upplands Väsby,utilized ley for hay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0114 Upplands Väsby,utilized pasture,NaN,NaN,NaN,NaN,NaN,NaN,172.0,162.0,131.0,NaN,NaN,NaN,NaN,NaN
18,0114 Upplands Väsby,utilized ley for hay and pasture,229.0,201.0,275.0,213.0,217.0,361.0,NaN,NaN,NaN,256.0,297.0,323.0,256.0,402.0
19,0114 Upplands Väsby,not utilized ley for hay and pasture,32.0,11.0,NaN,11.0,5.0,17.0,38.0,34.0,19.0,8.0,NaN,NaN,NaN,NaN

## Clean data from NaN values

In [3]:
df.fillna(0, inplace=True)

if df.isna().any(axis=None):
    print('Df contains NaN values')

df.head(20)

print(df.columns)

Index(['region', 'crop', '1981', '1985', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1999', '2001', '2002', '2003', '2005'],
      dtype='object')

## Reformat to prepare for pivot

In its current format its quite wide, with the year columns, so we want to create one column called "year" holding the values of current columns 1981, 1985 etc.
This can be accomplished using melt, this allows for easier grouping by year.

In [4]:
year_columns = ['1981', '1985', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1999', '2001', '2002', '2003', '2005']

# Melt the DataFrame
df_long = df.melt(id_vars=['region', 'crop'], value_vars=year_columns, var_name='year', value_name='value')

df_long['year'] = df_long['year'].astype(int)

df_long.head()

                region               crop  year   value
0  0114 Upplands Väsby  total arable land  1981  1715.0
1  0114 Upplands Väsby       winter wheat  1981    80.0
2  0114 Upplands Väsby       spring wheat  1981   212.0
3  0114 Upplands Väsby                rye  1981     0.0
4  0114 Upplands Väsby      winter barley  1981     0.0

## Pivot

By now pivoting on the crop, we follow the principle in Data Science that each row should be an observation and each column should be a variable.

In [5]:

pivoted_df = df_long.pivot(index=['region', 'year'], columns='crop', values='value')

#print(len(pivoted_df.columns))
#print(len(pivoted_df))

pivoted_df.head(20)

crop                      barley  energy forest  fallow land  \
region              year
0114 Upplands Väsby 1981   500.0            0.0        179.0
                    1985   586.0            0.0         30.0
                    1989   264.0            0.0        124.0
                    1990   213.0            0.0         57.0
                    1991   328.0            0.0         91.0
                    1992   106.0            0.0         22.0
                    1993     0.0            0.0          7.0
                    1994     0.0            0.0         28.0
                    1995     0.0            0.0        444.0
                    1999     0.0            0.0        211.0
                    2001     0.0            0.0        150.0
                    2002     0.0            0.0        190.0
                    2003     0.0            0.0        171.0
                    2005     0.0            0.0        208.0
0115 Vallentuna     1981  2270.0            0.0        651.0
                    1985  2190.0            0.0        424.0
                    1989  1234.0            0.0        833.0
                    1990  1251.0            0.0        725.0
                    1991  1358.0            0.0        460.0
                    1992  1160.0            0.0        241.0

crop                      field peas for cooking, fodder peas, vetches and field beans  \
region              year
0114 Upplands Väsby 1981                                                0.0
                    1985                                               11.0
                    1989                                               22.0
                    1990                                               38.0
                    1991                                                4.0
                    1992                                                0.0
                    1993                                                0.0
                    1994                                                0.0
                    1995                                                0.0
                    1999                                               67.0
                    2001                                               29.0
                    2002                                               61.0
                    2003                                               70.0
                    2005                                                0.0
0115 Vallentuna     1981                                              106.0
                    1985                                              153.0
                    1989                                              127.0
                    1990                                              146.0
                    1991                                               68.0
                    1992                                               46.0

crop                      green fodder  green peas  horticulture plants  \
region              year
0114 Upplands Väsby 1981          43.0         0.0                  0.0
                    1985          63.0         0.0                  0.0
                    1989           0.0         0.0                  0.0
                    1990           2.0         0.0                  0.0
                    1991           0.0         0.0                  0.0
                    1992           0.0         0.0                  0.0
                    1993           0.0         0.0                  0.0
                    1994           0.0         0.0                  0.0
                    1995           0.0         0.0                  0.0
                    1999           0.0         0.0                 12.0
                    2001           0.0         0.0                  0.0
                    2002           0.0         0.0                  0.0
                    2003           0.0         0.0                  0.0
                    2005           0.0         0.0                  0.0
0115 Vallentuna     1981          48.0         0.0                  0.0
                    1985          52.0         0.0                  0.0
                    1989          19.0         0.0                  0.0
                    1990          54.0         0.0                  0.0
                    1991         113.0         0.0                  0.0
                    1992           0.0         0.0                  0.0

crop                      ley for hay and forage plants  ley for seeds  \
region              year
0114 Upplands Väsby 1981                            0.0            0.0
                    1985                            0.0            0.0
                    1989                            0.0            0.0
                    1990                            0.0            0.0
                    1991                            0.0            2.0
                    1992                            0.0            0.0
                    1993                          189.0            0.0
                    1994                          157.0            0.0
                    1995                          145.0            0.0
                    1999                            0.0            0.0
                    2001                            0.0            0.0
                    2002                            0.0            0.0
                    2003                            0.0            0.0
                    2005                            0.0            0.0
0115 Vallentuna     1981                            0.0            0.0
                    1985                            0.0            0.0
                    1989                            0.0           10.0
                    1990                            0.0            0.0
                    1991                            0.0            0.0
                    1992                            0.0            0.0

crop                      mixed grain  ...  triticale  \
region              year               ...
0114 Upplands Väsby 1981          7.0  ...        0.0
                    1985         13.0  ...        0.0
                    1989          0.0  ...        0.0
                    1990          0.0  ...        0.0
                    1991          0.0  ...        0.0
                    1992          0.0  ...        0.0
                    1993          0.0  ...        0.0
                    1994          0.0  ...        0.0
                    1995          0.0  ...        0.0
                    1999         12.0  ...        3.0
                    2001          0.0  ...        0.0
                    2002          0.0  ...        0.0
                    2003          0.0  ...        0.0
                    2005          0.0  ...        0.0
0115 Vallentuna     1981        405.0  ...        0.0
                    1985        140.0  ...        0.0
                    1989         16.0  ...        0.0
                    1990          0.0  ...        0.0
                    1991          0.0  ...        0.0
                    1992          0.0  ...        0.0

crop                      unspecified arable land  utilized ley for hay  \
region              year
0114 Upplands Väsby 1981                      0.0                   0.0
                    1985                      0.0                   0.0
                    1989                      0.0                   0.0
                    1990                      0.0                   0.0
                    1991                      0.0                   0.0
                    1992                      0.0                   0.0
                    1993                      0.0                   0.0
                    1994                      0.0                   0.0
                    1995                      0.0                   0.0
                    1999                      0.0                   0.0
                    2001                     38.0                   0.0
                    2002                     36.0                   0.0
                    2003                     23.0                   0.0
                    2005                      0.0                   0.0
0115 Vallentuna     1981                      0.0                   0.0
                    1985                      0.0                   0.0
                    1989                      0.0                   0.0
                    1990                      0.0                   0.0
                    1991                      0.0                   0.0
                    1992                      0.0                   0.0

crop                      utilized ley for hay and pasture  utilized pasture  \
region              year
0114 Upplands Väsby 1981                             229.0               0.0
                    1985                             201.0               0.0
                    1989                             275.0               0.0
                    1990                             213.0               0.0
                    1991                             217.0               0.0
                    1992                             361.0               0.0
                    1993                               0.0             172.0
                    1994                               0.0             162.0
                    1995                               0.0             131.0
                    1999                             256.0               0.0
                    2001                             297.0               0.0
                    2002                             323.0               0.0
                    2003                             256.0               0.0
                    2005                             402.0               0.0
0115 Vallentuna     1981                            1771.0               0.0
                    1985                            1556.0               0.0
                    1989                            1940.0               0.0
                    1990                            2199.0               0.0
                    1991                            2111.0               0.0
                    1992                            2699.0               0.0

crop                      white beans  winter barley  winter rape  \
region              year
0114 Upplands Väsby 1981          0.0            0.0          0.0
                    1985          0.0            0.0          0.0
                    1989          0.0            0.0          0.0
                    1990          0.0            0.0          0.0
                    1991          0.0            0.0          0.0
                    1992          0.0            0.0          0.0
                    1993          0.0            6.0          0.0
                    1994          0.0            6.0          0.0
                    1995          0.0            0.0          4.0
                    1999          0.0            0.0          0.0
                    2001          0.0            0.0          0.0
                    2002          0.0            0.0          0.0
                    2003          0.0            0.0          0.0
                    2005          0.0            0.0          0.0
0115 Vallentuna     1981          0.0            0.0          3.0
                    1985          0.0            0.0         24.0
                    1989          0.0            0.0         35.0
                    1990          0.0            0.0          7.0
                    1991          0.0            0.0         39.0
                    1992          0.0            0.0         16.0

crop                      winter turnip rape  winter wheat
region              year
0114 Upplands Väsby 1981                 0.0          80.0
                    1985                 0.0          40.0
                    1989                14.0         477.0
                    1990                 2.0         520.0
                    1991                 6.0         180.0
                    1992                 0.0         213.0
                    1993                 0.0         195.0
                    1994                 0.0         194.0
                    1995                 0.0         230.0
                    1999                 0.0         291.0
                    2001                 0.0         393.0
                    2002                 0.0         330.0
                    2003                 0.0         433.0
                    2005                 0.0         408.0
0115 Vallentuna     1981                25.0         462.0
                    1985                63.0         477.0
                    1989               188.0        1352.0
                    1990               149.0        1601.0
                    1991               111.0         766.0
                    1992                38.0        1026.0

[20 rows x 35 columns]

## Flatten df

Flatten the DF for easier handling, now its easy to access each row.

In [6]:
pivoted_df.columns.name = None
pivoted_df.reset_index(inplace=True)

pd.set_option("display.max_columns", None)

pivoted_df

,region,year,barley,energy forest,fallow land,"field peas for cooking, fodder peas, vetches and field beans",green fodder,green peas,horticulture plants,ley for hay and forage plants,ley for seeds,mixed grain,mixed grain and triticale,not utilized ley for hay and pasture,oats,oil flax,other crops,other untilled arable land,potatoes for processing of starch,rye,spring barley,spring rape,spring turnip rape,spring wheat,sugar beets,table potatoes,total arable land,triticale,unspecified arable land,utilized ley for hay,utilized ley for hay and pasture,utilized pasture,white beans,winter barley,winter rape,winter turnip rape,winter wheat
0,0114 Upplands Väsby,1981,500.0,0.0,179.0,0.0,43.0,0.0,0.0,0.0,0.0,7.0,0.0,32.0,225.0,0.0,6.0,24.0,0.0,0.0,0.0,95.0,81.0,212.0,0.0,2.0,1715.0,0.0,0.0,0.0,229.0,0.0,0.0,0.0,0.0,0.0,80.0
1,0114 Upplands Väsby,1985,586.0,0.0,30.0,11.0,63.0,0.0,0.0,0.0,0.0,13.0,0.0,11.0,199.0,0.0,4.0,38.0,0.0,5.0,0.0,71.0,169.0,208.0,0.0,3.0,1652.0,0.0,0.0,0.0,201.0,0.0,0.0,0.0,0.0,0.0,40.0
2,0114 Upplands Väsby,1989,264.0,0.0,124.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,142.0,0.0,3.0,32.0,0.0,82.0,0.0,72.0,105.0,0.0,0.0,2.0,1614.0,0.0,0.0,0.0,275.0,0.0,0.0,0.0,0.0,14.0,477.0
3,0114 Upplands Väsby,1990,213.0,0.0,57.0,38.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0,11.0,194.0,0.0,3.0,15.0,0.0,72.0,0.0,72.0,57.0,0.0,0.0,2.0,1478.0,0.0,0.0,0.0,213.0,0.0,0.0,0.0,0.0,2.0,520.0
4,0114 Upplands Väsby,1991,328.0,0.0,91.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,111.0,0.0,5.0,331.0,0.0,26.0,0.0,24.0,81.0,7.0,0.0,1.0,1419.0,0.0,0.0,0.0,217.0,0.0,0.0,0.0,0.0,6.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4055,2584 Kiruna,1999,0.0,0.0,17.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,384.0,0.0,0.0,0.0,272.0,0.0,0.0,0.0,0.0,0.0,0.0
4056,2584 Kiruna,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,261.0,0.0,109.0,0.0,151.0,0.0,0.0,0.0,0.0,0.0,0.0
4057,2584 Kiruna,2002,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.0,0.0,90.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0
4058,2584 Kiruna,2003,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,233.0,0.0,69.0,0.0,143.0,0.0,0.0,0.0,0.0,0.0,0.0
4059,2584 Kiruna,2005,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,253.0,0.0,51.0,0.0,195.0,0.0,0.0,0.0,0.0,0.0,0.0

## Feature Engineering

### Cross-region Comparison

Lets do a cross-region comparison, crop area in a given region vs the national average.

In [14]:
# keep it to just oats and barley for now
crop_cols = ["oats", "barley"]

for crop in crop_cols:
    national_avg = pivoted_df.groupby('year')[crop].mean()

    pivoted_df[f'{crop}_rel_perf'] = pivoted_df.apply(
        lambda row: row[crop] / national_avg[row['year']] if pd.notna(row[crop]) and pd.notna(national_avg[row['year']]) and national_avg[row['year']] != 0 else 0,
        axis=1
    )

pivoted_df[["region", "year"] + [f"{crop}_rel_perf" for crop in crop_cols]]

                   region  year  oats_rel_perf  barley_rel_perf
0     0114 Upplands Väsby  1981       0.128494         0.198827
1     0114 Upplands Väsby  1985       0.121569         0.239127
2     0114 Upplands Väsby  1989       0.095181         0.152837
3     0114 Upplands Väsby  1990       0.145066         0.125542
4     0114 Upplands Väsby  1991       0.088368         0.193768
...                   ...   ...            ...              ...
4055          2584 Kiruna  1999       0.000000         0.000000
4056          2584 Kiruna  2001       0.000000         0.000000
4057          2584 Kiruna  2002       0.000000         0.000000
4058          2584 Kiruna  2003       0.006218         0.000000
4059          2584 Kiruna  2005       0.000000         0.000000

[4060 rows x 4 columns]

### Crop Diversity

How about crop diversity? Maybe some regions produce a whole plethora of crops, while some other regions only produce one or two crops.

In [8]:
# ignore columns that are not crops
ignore_columns = ['region', 'year', 'crop_diversity_index'] + ['total arable land', 'other untilled arable land', 'unspecified arable land', 'not utilized ley for hay and pasture'] + [f"{crop}_rel_perf" for crop in crop_cols]

pivoted_df['crop_diversity_index'] = pivoted_df.apply(
    lambda row: (row[[col for col in pivoted_df.columns if col not in ignore_columns]] > 0).sum(),
    axis=1
)

pivoted_df[['year', 'region', 'crop_diversity_index']]

      year               region  crop_diversity_index
0     1981  0114 Upplands Väsby                    12
1     1985  0114 Upplands Väsby                    14
2     1989  0114 Upplands Väsby                    12
3     1990  0114 Upplands Väsby                    14
4     1991  0114 Upplands Väsby                    14
...    ...                  ...                   ...
4055  1999          2584 Kiruna                     4
4056  2001          2584 Kiruna                     1
4057  2002          2584 Kiruna                     2
4058  2003          2584 Kiruna                     4
4059  2005          2584 Kiruna                     2

[4060 rows x 3 columns]