# Task 1

Imports:

In [38]:
import pandas as pd

# 1.1 Load the dataset

Load the dataset:

In [39]:
df = pd.read_csv("JO0104D3_20250411-135149.csv", encoding="latin-1", na_values=['..'])
df

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.0,1288.0,1434.0,1398.0,1380.0,1310.0,1286.0,1281.0,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.0,195.0,194.0,230.0,291.0,393.0,330.0,433.0,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,NaN,NaN,7.0,NaN,NaN,NaN,12.0,28.0,NaN,NaN,NaN,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,NaN,NaN,10.0,10.0,10.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.0,30.0,38.0,26.0,17.0,NaN,5.0,15.0,5.0
10148,2584 Kiruna,other untilled arable land,NaN,13.0,6.0,NaN,13.0,7.0,11.0,2.0,9.0,41.0,NaN,NaN,NaN,NaN
10149,2584 Kiruna,unspecified arable land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,90.0,69.0,51.0

# 1.2 Explore the data

### Information and Statstics

Information about the dataframe

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10150 entries, 0 to 10149
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  10150 non-null  object
 1   crop    10150 non-null  object
 2   1981    4723 non-null   float64
 3   1985    4781 non-null   float64
 4   1989    4754 non-null   float64
 5   1990    4743 non-null   float64
 6   1991    4664 non-null   float64
 7   1992    4641 non-null   float64
 8   1993    5028 non-null   float64
 9   1994    4981 non-null   float64
 10  1995    4944 non-null   float64
 11  1999    5385 non-null   float64
 12  2001    5078 non-null   float64
 13  2002    5250 non-null   float64
 14  2003    5231 non-null   float64
 15  2005    4265 non-null   float64
dtypes: float64(14), object(2)
memory usage: 1.2+ MB

Statistics of the dataframe

In [41]:
df.describe()

,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
count,4723.000000,4781.000000,4754.000000,4743.000000,4664.000000,4641.000000,5028.000000,4981.000000,4944.000000,5385.000000,5078.000000,5250.000000,5231.000000,4265.000000
mean,1244.241795,1222.154988,1202.459613,1199.490196,1196.409520,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
std,4001.326449,3914.180577,3833.527379,3836.641655,3792.837971,3766.881117,3575.968579,3600.884641,3574.473723,3480.749435,3544.942257,3476.480074,3459.476713,3832.377085
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,22.000000,25.000000,25.000000,28.000000,26.000000,25.000000,23.000000,25.000000,19.000000,17.000000,15.000000,15.000000,33.000000
50%,95.000000,101.000000,117.000000,113.000000,134.000000,127.000000,121.000000,125.000000,123.500000,87.000000,91.000000,82.000000,81.000000,141.000000
75%,568.000000,591.000000,639.500000,614.500000,633.250000,607.000000,666.000000,675.000000,695.750000,439.000000,487.750000,446.750000,449.500000,715.000000
max,83379.000000,83475.000000,83314.000000,83695.000000,83918.000000,84151.000000,84345.000000,84577.000000,86679.000000,86496.000000,86060.000000,86140.000000,85970.000000,86730.000000

### Regions

In [42]:
df['region'].unique()

array(['0114 Upplands Väsby', '0115 Vallentuna', '0117 Österåker',
       '0120 Värmdö', '0123 Järfälla', '0125 Ekerö', '0126 Huddinge',
       '0127 Botkyrka', '0128 Salem', '0136 Haninge', '0138 Tyresö',
       '0139 Upplands-Bro', '0140 Nykvarn', '0160 Täby', '0162 Danderyd',
       '0163 Sollentuna', '0180 Stockholm', '0181 Södertälje',
       '0182 Nacka', '0183 Sundbyberg', '0184 Solna', '0186 Lidingö',
       '0187 Vaxholm', '0188 Norrtälje', '0191 Sigtuna', '0192 Nynäshamn',
       '0305 Håbo', '0319 Älvkarleby', '0330 Knivsta', '0331 Heby',
       '0360 Tierp', '0380 Uppsala', '0381 Enköping', '0382 Östhammar',
       '0428 Vingåker', '0461 Gnesta', '0480 Nyköping', '0481 Oxelösund',
       '0482 Flen', '0483 Katrineholm', '0484 Eskilstuna',
       '0486 Strängnäs', '0488 Trosa', '0509 Ödeshög', '0512 Ydre',
       '0513 Kinda', '0560 Boxholm', '0561 Åtvidaberg', '0562 Finspång',
       '0563 Valdemarsvik', '0580 Linköping', '0581 Norrköping',
       '0582 Söderköping', '0583 Motala', '0584 Vadstena', '0586 Mjölby',
       '0604 Aneby', '0617 Gnosjö', '0642 Mullsjö', '0643 Habo',
       '0662 Gislaved', '0665 Vaggeryd', '0680 Jönköping', '0682 Nässjö',
       '0683 Värnamo', '0684 Sävsjö', '0685 Vetlanda', '0686 Eksjö',
       '0687 Tranås', '0760 Uppvidinge', '0761 Lessebo', '0763 Tingsryd',
       '0764 Alvesta', '0765 Älmhult', '0767 Markaryd', '0780 Växjö',
       '0781 Ljungby', '0821 Högsby', '0834 Torsås', '0840 Mörbylånga',
       '0860 Hultsfred', '0861 Mönsterås', '0862 Emmaboda', '0880 Kalmar',
       '0881 Nybro', '0882 Oskarshamn', '0883 Västervik', '0884 Vimmerby',
       '0885 Borgholm', '0980 Gotland', '1060 Olofström',
       '1080 Karlskrona', '1081 Ronneby', '1082 Karlshamn',
       '1083 Sölvesborg', '1214 Svalöv', '1230 Staffanstorp',
       '1231 Burlöv', '1233 Vellinge', '1256 Östra Göinge',
       '1257 Örkelljunga', '1260 Bjuv', '1261 Kävlinge', '1262 Lomma',
       '1263 Svedala', '1264 Skurup', '1265 Sjöbo', '1266 Hörby',
       '1267 Höör', '1270 Tomelilla', '1272 Bromölla', '1273 Osby',
       '1275 Perstorp', '1276 Klippan', '1277 Åstorp', '1278 Båstad',
       '1280 Malmö', '1281 Lund', '1282 Landskrona', '1283 Helsingborg',
       '1284 Höganäs', '1285 Eslöv', '1286 Ystad', '1287 Trelleborg',
       '1290 Kristianstad', '1291 Simrishamn', '1292 Ängelholm',
       '1293 Hässleholm', '1315 Hylte', '1380 Halmstad', '1381 Laholm',
       '1382 Falkenberg', '1383 Varberg', '1384 Kungsbacka',
       '1401 Härryda', '1402 Partille', '1407 Öckerö', '1415 Stenungsund',
       '1419 Tjörn', '1421 Orust', '1427 Sotenäs', '1430 Munkedal',
       '1435 Tanum', '1438 Dals-Ed', '1439 Färgelanda', '1440 Ale',
       '1441 Lerum', '1442 Vårgårda', '1443 Bollebygd', '1444 Grästorp',
       '1445 Essunga', '1446 Karlsborg', '1447 Gullspång', '1452 Tranemo',
       '1460 Bengtsfors', '1461 Mellerud', '1462 Lilla Edet', '1463 Mark',
       '1465 Svenljunga', '1466 Herrljunga', '1470 Vara', '1471 Götene',
       '1472 Tibro', '1473 Töreboda', '1480 Göteborg', '1481 Mölndal',
       '1482 Kungälv', '1484 Lysekil', '1485 Uddevalla', '1486 Strömstad',
       '1487 Vänersborg', '1488 Trollhättan', '1489 Alingsås',
       '1490 Borås', '1491 Ulricehamn', '1492 Åmål', '1493 Mariestad',
       '1494 Lidköping', '1495 Skara', '1496 Skövde', '1497 Hjo',
       '1498 Tidaholm', '1499 Falköping', '1715 Kil', '1730 Eda',
       '1737 Torsby', '1760 Storfors', '1761 Hammarö', '1762 Munkfors',
       '1763 Forshaga', '1764 Grums', '1765 Årjäng', '1766 Sunne',
       '1780 Karlstad', '1781 Kristinehamn', '1782 Filipstad',
       '1783 Hagfors', '1784 Arvika', '1785 Säffle', '1814 Lekeberg',
       '1860 Laxå', '1861 Hallsberg', '1862 Degerfors', '1863 Hällefors',
       '1864 Ljusnarsberg', '1880 Örebro', '1881 Kumla', '1882 Askersund',
       '1883 Karlskoga', '1884 Nora', '1885 Lindesberg',
       '1904 Skinnskatteberg', '1907 Surahammar', '1960 Kungsör',
       '1961 Hallstahammar', '1962 Norberg', '1980 Västerås', '1981 Sala',
       '1982 Fagersta', '1983 Köping', '1984 Arboga', '2021 Vansbro',
       '2023 Malung-Sälen', '2026 Gagnef', '2029 Leksand', '2031 Rättvik',
       '2034 Orsa', '2039 Älvdalen', '2061 Smedjebacken', '2062 Mora',
       '2080 Falun', '2081 Borlänge', '2082 Säter', '2083 Hedemora',
       '2084 Avesta', '2085 Ludvika', '2101 Ockelbo', '2104 Hofors',
       '2121 Ovanåker', '2132 Nordanstig', '2161 Ljusdal', '2180 Gävle',
       '2181 Sandviken', '2182 Söderhamn', '2183 Bollnäs',
       '2184 Hudiksvall', '2260 Ånge', '2262 Timrå', '2280 Härnösand',
       '2281 Sundsvall', '2282 Kramfors', '2283 Sollefteå',
       '2284 Örnsköldsvik', '2303 Ragunda', '2305 Bräcke', '2309 Krokom',
       '2313 Strömsund', '2321 Åre', '2326 Berg', '2361 Härjedalen',
       '2380 Östersund', '2401 Nordmaling', '2403 Bjurholm',
       '2404 Vindeln', '2409 Robertsfors', '2417 Norsjö', '2418 Malå',
       '2421 Storuman', '2422 Sorsele', '2425 Dorotea', '2460 Vännäs',
       '2462 Vilhelmina', '2463 Åsele', '2480 Umeå', '2481 Lycksele',
       '2482 Skellefteå', '2505 Arvidsjaur', '2506 Arjeplog',
       '2510 Jokkmokk', '2513 Överkalix', '2514 Kalix', '2518 Övertorneå',
       '2521 Pajala', '2523 Gällivare', '2560 Älvsbyn', '2580 Luleå',
       '2581 Piteå', '2582 Boden', '2583 Haparanda', '2584 Kiruna'],
      dtype=object)

### Crops

In [43]:
df['crop'].unique()

array(['total arable land', 'winter wheat', 'spring wheat', 'rye',
       'winter barley', 'barley', 'spring barley', 'oats',
       'mixed grain and triticale', 'ley for hay and forage plants',
       'triticale', 'mixed grain',
       'field peas for cooking, fodder peas, vetches and field beans',
       'green peas', 'white beans', 'green fodder',
       'utilized ley for hay', 'utilized pasture',
       'utilized ley for hay and pasture',
       'not utilized ley for hay and pasture', 'ley for seeds',
       'table potatoes', 'potatoes for processing of starch',
       'sugar beets', 'winter rape', 'spring rape', 'winter turnip rape',
       'spring turnip rape', 'oil flax', 'horticulture plants',
       'other crops', 'energy forest', 'fallow land',
       'other untilled arable land', 'unspecified arable land'],
      dtype=object)

### 1.3 Find inconcistencies

Null values very frequent

In [44]:
df.isnull().sum()

region       0
crop         0
1981      5427
1985      5369
1989      5396
1990      5407
1991      5486
1992      5509
1993      5122
1994      5169
1995      5206
1999      4765
2001      5072
2002      4900
2003      4919
2005      5885
dtype: int64

No duplicated rows

In [45]:
df.duplicated().sum()

np.int64(0)

## Solve for inconcistencies

### Approach 1: Interpolation

In [46]:
df_approach_1 = df.copy()

Interpolate missing values at each row (since the time series is column wise)

In [47]:
year_cols = df_approach_1.columns[2:]
df_approach_1[year_cols] = df_approach_1[year_cols].interpolate(method='linear', axis=1)
df_approach_1

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.00,1288.0,1434.00,1398.0,1380.0,1310.00,1286.0,1281.00,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.00,195.0,194.00,230.0,291.0,393.00,330.0,433.00,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,141.0,74.0,7.0,8.25,9.5,10.75,12.0,28.0,22.75,17.5,12.25,7.0
3,0114 Upplands Väsby,rye,NaN,5.0,82.0,72.0,26.0,26.00,26.0,26.00,26.0,26.0,26.00,26.0,26.00,26.0
4,0114 Upplands Väsby,winter barley,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.00,6.0,6.0,6.00,6.0,6.00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,NaN,NaN,10.0,10.0,10.0,8.00,6.0,4.00,2.0,2.0,2.00,2.0,2.00,2.0
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.00,30.0,38.00,26.0,17.0,11.00,5.0,15.00,5.0
10148,2584 Kiruna,other untilled arable land,NaN,13.0,6.0,9.5,13.0,7.00,11.0,2.00,9.0,41.0,41.00,41.0,41.00,41.0
10149,2584 Kiruna,unspecified arable land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.00,90.0,69.00,51.0

Before vs after

In [48]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_1.isnull().sum()], axis=1, keys=["Before", "After"])
comparison_df

        Before  After
region       0      0
crop         0      0
1981      5427   5427
1985      5369   5138
1989      5396   5046
1990      5407   4746
1991      5486   4726
1992      5509   4656
1993      5122   3437
1994      5169   3402
1995      5206   3351
1999      4765   2684
2001      5072   2282
2002      4900   2247
2003      4919   2201
2005      5885   2198

Continue filling because interpolation is not a mr solve it all

In [49]:
df_approach_1_last = df_approach_1.copy()
df_approach_1_last[year_cols] = df_approach_1_last[year_cols].fillna(method='bfill', axis=1).fillna(method='ffill', axis=1)
df_approach_1_last

/tmp/ipykernel_10468/334804234.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_approach_1_last[year_cols] = df_approach_1_last[year_cols].fillna(method='bfill', axis=1).fillna(method='ffill', axis=1)

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.0,1652.0,1614.0,1478.0,1419.0,1311.00,1288.0,1434.00,1398.0,1380.0,1310.00,1286.0,1281.00,1353.0
1,0114 Upplands Väsby,winter wheat,80.0,40.0,477.0,520.0,180.0,213.00,195.0,194.00,230.0,291.0,393.00,330.0,433.00,408.0
2,0114 Upplands Väsby,spring wheat,212.0,208.0,141.0,74.0,7.0,8.25,9.5,10.75,12.0,28.0,22.75,17.5,12.25,7.0
3,0114 Upplands Väsby,rye,5.0,5.0,82.0,72.0,26.0,26.00,26.0,26.00,26.0,26.0,26.00,26.0,26.00,26.0
4,0114 Upplands Väsby,winter barley,6.0,6.0,6.0,6.0,6.0,6.00,6.0,6.00,6.0,6.0,6.00,6.0,6.00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,10.0,10.0,10.0,10.0,10.0,8.00,6.0,4.00,2.0,2.0,2.00,2.0,2.00,2.0
10146,2584 Kiruna,energy forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10147,2584 Kiruna,fallow land,3.0,18.0,22.0,16.0,33.0,22.00,30.0,38.00,26.0,17.0,11.00,5.0,15.00,5.0
10148,2584 Kiruna,other untilled arable land,13.0,13.0,6.0,9.5,13.0,7.00,11.0,2.00,9.0,41.0,41.00,41.0,41.00,41.0
10149,2584 Kiruna,unspecified arable land,109.0,109.0,109.0,109.0,109.0,109.00,109.0,109.00,109.0,109.0,109.00,90.0,69.00,51.0

Before vs after vs way-before

In [50]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_1.isnull().sum(), df_approach_1_last.isnull().sum()], axis=1, keys=["Way-Before", "Before", "After"])
comparison_df

        Way-Before  Before  After
region           0       0      0
crop             0       0      0
1981          5427    5427   2198
1985          5369    5138   2198
1989          5396    5046   2198
1990          5407    4746   2198
1991          5486    4726   2198
1992          5509    4656   2198
1993          5122    3437   2198
1994          5169    3402   2198
1995          5206    3351   2198
1999          4765    2684   2198
2001          5072    2282   2198
2002          4900    2247   2198
2003          4919    2201   2198
2005          5885    2198   2198

## Approach 2: Imputation

In [ ]:
df_approach_2 = df.copy()

Fill with mean

In [ ]:
df_approach_2[year_cols] = df_approach_2[year_cols].fillna(df_approach_2[year_cols].mean())
df_approach_2

,region,crop,1981,1985,1989,1990,1991,1992,1993,1994,1995,1999,2001,2002,2003,2005
0,0114 Upplands Väsby,total arable land,1715.000000,1652.000000,1614.000000,1478.000000,1419.00000,1311.000000,1288.000000,1434.000000,1398.000000,1380.000000,1310.000000,1286.000000,1281.000000,1353.000000
1,0114 Upplands Väsby,winter wheat,80.000000,40.000000,477.000000,520.000000,180.00000,213.000000,195.000000,194.000000,230.000000,291.000000,393.000000,330.000000,433.000000,408.000000
2,0114 Upplands Väsby,spring wheat,212.000000,208.000000,1202.459613,1199.490196,7.00000,1192.669899,1105.789777,1116.558924,12.000000,28.000000,1061.136077,1020.936762,1020.310075,7.000000
3,0114 Upplands Väsby,rye,1244.241795,5.000000,82.000000,72.000000,26.00000,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
4,0114 Upplands Väsby,winter barley,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,6.000000,6.000000,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,2584 Kiruna,other crops,1244.241795,1222.154988,10.000000,10.000000,10.00000,1192.669899,1105.789777,1116.558924,2.000000,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
10146,2584 Kiruna,energy forest,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,1061.136077,1020.936762,1020.310075,1264.592966
10147,2584 Kiruna,fallow land,3.000000,18.000000,22.000000,16.000000,33.00000,22.000000,30.000000,38.000000,26.000000,17.000000,1061.136077,5.000000,15.000000,5.000000
10148,2584 Kiruna,other untilled arable land,1244.241795,13.000000,6.000000,1199.490196,13.00000,7.000000,11.000000,2.000000,9.000000,41.000000,1061.136077,1020.936762,1020.310075,1264.592966
10149,2584 Kiruna,unspecified arable land,1244.241795,1222.154988,1202.459613,1199.490196,1196.40952,1192.669899,1105.789777,1116.558924,1118.904935,1020.264995,109.000000,90.000000,69.000000,51.000000

Before vs after

In [ ]:
comparison_df = pd.concat([df.isnull().sum(), df_approach_2.isnull().sum()], axis=1, keys=["Before", "After"])
comparison_df

# Task 2
guten tag mein freund

In [1]:
import pandas as pd

# Task 3
hola seniorita

In [1]:
import pandas as pd